
.intent-section {
  /* max-width: 40%; */
  margin: 40px auto 100px;
}

.intent-section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.intent-list {
  list-style: none;
  padding-left: 0;
}

.intent-list-item {
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.intent-check {
  margin-right: 10px;
}

.intent-legend {
  display: block;
}

.intent-table th {
  background: rgb(40, 77, 104);
  color: white;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
}

.intent-example {
  font-size: 14px;
}

.intent-table {
  border-collapse: collapse;
  margin: auto;
}

.intent-table-caption {
  text-align: left;
  margin: 20px 0;
}

.intent-table td, .intent-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.intent-table tr:nth-child(even) { background-color: #f2f2f2; }

.intent-table tr:hover { background-color: #ddd; }

.save-button {
  background: #f16a54;
  color: white;
  padding: 10px 20px;
  border-radius: 4%;
  border: 0;
  display: block;
  letter-spacing: 1px;
}

/* https://stackoverflow.com/a/25797505 */
*[data-tooltip] {
  position: relative;
}

*[data-tooltip]::after {
  content: attr(data-tooltip);

  position: absolute;
  top: -20px;
  right: -20px;
  width: 150px;

  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;

  display: block;
  font-size: 12px;
  line-height: 16px;
  background: rgb(241, 106, 84);
  padding: 12px 12px;
  border: 1px solid #c0c0c0;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
  color: white;
}

*[data-tooltip]:hover::after {
  opacity: 1;
}

 /* https://codepen.io/chriscoyier/pen/NgNymx */
.AppModal {
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  padding: 40px 40px 80px;
}

@supports (offset-rotate: 0deg) {
  .AppModal {
    offset-rotate: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");
  }

  .AppModal.off {
    offset-distance: 100%;
  }
}

@media (prefers-reduced-motion) {
  .AppModal {
    offset-path: none;
  }
}

.AppModal.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(black, 0.2);
}

.AppModal h2 {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin: 0;
}

.AppModal .content {
  padding: 1rem;
}

.AppModal .actions {
  border-top: 1px solid #ccc;
  background: #eee;
  /* padding: 0.5rem 1rem; */
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 30px;
  text-align: right;
  padding: 15px;
}

.AppModal .actions button {
  border: 0;
  background: rgb(241, 106, 84);;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 0.8rem;
  line-height: 1;
  color: white;
  letter-spacing: 1px;
}

#centered-toggle-button {
  /* position: absolute; */
}
